@import "variables";

.app-header {
  flex-grow: 1;
  .app-title {
    flex-grow: 1;
    span {
      color: $header-color;
      margin-left: 3px;
      text-decoration: underline;
    }
  }
}

.errors-warnings {
}

.student-class {
}
