@import "variables";

.dataTable-override {
  .rdt_TableHeadRow {
    background: #ff8e00 !important;
    min-height: 40px !important;
    .rdt_TableCol,
    rdt_TableCol:hover,
    rdt_TableCol:focus,
    rdt_TableCol:visited,
    rdt_TableCol:active {
      color: #ffffff !important;
    }
  }
}
.dataTable-grey-header {
  .rdt_TableHeadRow {
    background: #4050b5 !important;
  }
}
.MuiAppBar-colorPrimary-20 {
  background-color: #ff8e00 !important;
}

.css-1hb7zxy-IndicatorsContainer {
  max-height: 30px !important;
}
